<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{site.coursename}}: {{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/site.css">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
	</head>
	<body class="nonfree">
		<div id="content">
			<div id="header"><a href="{{site.baseurl}}/">{{site.coursename}}</a>: {{page.title}}</div>
			{{content}}
			<div id="footer">
				This document is not freely redistributable, email <a href="mailto:dhovemey@ycp.edu">David Hovemeyer</a> for details
			</div>
		</div>
	</body>
</html>

<!--
vim:ts=2:
-->
